<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>KinoTime</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="bg_line"></div>
    <div class="bg_line bg_line2"></div>
    <div class="bg_line bg_line3"></div>
    <header>
      <div class="flex__container">
        <h1 class="header__title">
          Открой для  <span>себя новый</span>мир!
        </h1>

        <div class="slope__line__header slope__line"></div>
    
        <img class="logo" src="../images/logo2.png" alt="Логотип">

        <div class="slope__line__header slope__line"></div>

        <div class="contacts">
          <div class="location contact">
            <img src="../images/location.png" alt="геопозиция" class="location__icon">
            <span>Россия</span>
          </div>
          <div class="phone__number contact">
            <img src="../images/phone_number.png" alt="Иконка телефона" class="phone_icon">
            <span>+78005553535</span>
          </div>
          <div class="email contact">
            <img src="../images/email.png" alt="Почта" class="emal_icon">
            <span>Kintime@mail.com</span>
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <div class="horizontal__line"></div>
      <div class="main__films">
        {% for film in films %}
          <div class="film__card">
            <img src="../{{ film.img_path }}" alt="Обложка кино" class="card__image">
            <div class="card__info">
              <div class="info__row">
                <div class="year">{{ film.year }}</div>
                <div class="country">{{ film.country }}</div>
              </div>
              <div class="genres">{{ film.genre[0] }}</div>
            </div>
            <a href="{{ film.ticket_url}}">
              <button>Купить</button>
            </a>

          </div>
        {% endfor %}
      </div> 
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if current_page == 2 %}
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% elif current_page == 1 %}
              <li class="page-item">
                <a class="page-link inactive" href="../{{dest_folder|urlencode}}index.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link inactive" href="../{{dest_folder|urlencode}}index.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index{{current_page - 1}}.html" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% if current_page == 1 %}
              <li class="page-item "><a class="page-link current" href="../{{dest_folder|urlencode}}index.html">1</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="../{{dest_folder|urlencode}}index.html">1</a></li>
            {% endif %}

            {% for number in range(2, page_count + 1) %}
              {% if current_page == number %}
                <li class="page-item "><a class="page-link current" href="../{{dest_folder|urlencode}}index{{number}}.html">{{number}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="../{{dest_folder|urlencode}}index{{number}}.html">{{number}}</a></li>
              {% endif %}
            {% endfor %}

            {% if current_page >= page_count %}
            <li class="page-item">
              <a class="page-link inactive" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link inactive" href="../{{dest_folder|urlencode}}index{{page_count}}.html" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index{{current_page + 1}}.html" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="../{{dest_folder|urlencode}}index{{page_count}}.html" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
        </ul>
      </nav>
      <div class="horizontal__line"></div>
    </main>

    <footer>
      <div class="contact-information__row">
        <div class="school__card">
          <div class="school__title">
            <img src="../images/school_logo.png" alt="">
            <span>Третье место</span>
          </div>
          <div class="school__description">Проект реализован для школы "Третье место" в обучающих целях</div>
        </div>
        <div class="slope__line__footer slope__line"></div>
        <div class="social-media__card">
          <p>Подпишитесь также:</p>
          <div class="media">
            <a href="#"><img src="../images/vk_logo.png" alt=""></a>
            <a href="#"><img src="../images/tg_logo.png" alt=""></a>
            <a href="#"><img src="../images/youtube_logo.png" alt=""></a>
          </div>
        </div>
        <div class="slope__line__footer slope__line"></div>
        <div class="resource__card">
          <div class="resource__logo">
            <img src="../images/logo_kinoafisha.png" alt="">
          </div>
          <span>Данные взяты с сайта <a href="https://www.kinoafisha.info/">kinoafisha.info</a></span>
        </div>
      </div>
    </footer>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>